@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.box {
    width: 40%;
    position:absolute;
    left:30%;
    top:35%;
}

.bttn-rgstr{
    font-family:"Outfit", sans-serif;
    position:absolute;
    width:160px;
    text-align: left;
    text-decoration: underline;
    cursor:pointer;
    color:white;
    border:0px;
    background-color:transparent;
    left:32%;
    top:67%;
    font-size:15px;
    font-weight:300;
}

.forgot{
    font-family:"Outfit", sans-serif;
    position:absolute;
    width:160px;
    text-align: left;
    text-decoration: underline;
    cursor:pointer;
    color:white;
    border:0px;
    background-color:transparent;
    left:59%;
    top:70%;
    font-size:15px;
    font-weight:300;
}

.log{
    font-family:"Inter", sans-serif;
    padding:6.5px;
    position:absolute;
    width:110px;
    text-align: center;
    font-style:italic;
    cursor:pointer;
    color:white;
    border:0px;
    background-color:#354ab6;
    border-radius: 20px;
    left:47%;
    top:64%;
    font-size:18px;
    font-weight:675;
}