@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(50, 2, 56);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a{
    display: flex;
    text-decoration: none;
    color: white;
}

.head-btn{
    gap:30px;
}

.head-btn button{
    background-color: white;
    padding: 3px 5px;
    transition: 0.3s;
}

.head-btn button:hover {
    cursor: pointer;
    transform: translateY(-5%);
}

main{
    color: white;
    align-items: center;
    position: absolute;
    margin-top: 50px;
    left: 5%;
    display: flex;
}

main h1 {
    max-width: 300px;
}

main svg{
    width: 350px;
    height: 350px;
    color: rgb(138, 43, 226);
    display: flex;
    position: left;
}

main p{
    margin-top: 30px;
    max-width: 300px;
}

main .auth-btn {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

main .auth-btn button {
    background-color:  white;
    padding: 2px 25px;
    font-size: 15px;
    border-radius: 30px;
}