@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');

main {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    gap: 10px;
}

section.main_page {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    border: solid;
}

section.main_page .welcome img {
    width: 50vh;
    margin: -100px 0px -130px -25px;
    filter: drop-shadow(-1px 4px 5px #9a9a9a);
}


section.main_page .laptop {
    width: 50vh;
    height: 50vh;
}

section.achivements {
    border: solid;
    display: flex;
    justify-content: center;
    align-content: center;
}

section.achivements div {
    display: flex;
    border: solid;
    width: 80vh;
    height: 110px;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    padding: 0px 30px;
    gap: 50px;
    font-family: 'Lato', sans-serif;
    flex-wrap: wrap;
}

section.achivements div h1:not(.last){
    border-right: solid;
    padding: 0px 30px
}

section.achivements span {
    font-size: 20px;
}
