@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

title {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    background-color: #EBECF0
}

.main {
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 0px 20px -10px;
}

.top_page, .top_page a,.top_page nav,.main a svg{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: white;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

a.active{
    color: black;
}

section.btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    margin: 0px 20px;
    padding: 0px 10px;
}

.btn button {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: white;
    padding: 3px 20px;
    border: 1px solid black;
    box-shadow: 0px 1.5px 1px -0.2px rgb(194, 190, 190);
    cursor: pointer;
}



.top_page {
    padding: 0px 40px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: white;    
}

.menu1{
    position:absolute;
width:30px;
height: auto;
left: 42px;
top: 8px;
background-color: white;
}